body{
  
}

.container-titulo{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.txt-titulo{
    font-size: 22px;
    font-weight: bold;
}

.container-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.input-conta{
    text-align: center;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
}

.input-consumo{
    width: 14%;
    padding: 12px;
}

.input-bandeira{
    width: 15%;
    height: 40px;
    cursor: pointer;
}

.txt-conta{
    font-weight: bold;
}

.container-btn{
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.btn{
    width: 8%;
    padding: 10px;
    border-radius: 10px;
    background-color: greenyellow;
    border: 3px solid black;
    cursor: pointer;
}

