body{
    background-color: #FFEFE3;
}

.container-titulo{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.txt-titulo{
    font-size: 22px;
    font-weight: bold;
}

.container-input{
    display: flex;
    justify-content: center;
    gap: 2%;
}

.container-consumo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-bandeira{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-conta{
    border-radius: 18px;
    text-align: center;
}
.input-consumo{
    width: 80%;
    padding: 12px;
}

.input-bandeira{
    width: 140%;
    height: 90%;
    cursor: pointer;
}

.txt-conta{
    font-weight: bold;
}

